<div class="nav-bar">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a routerLink="" class="nav-item nav-link px-4">Home</a>
                    <a routerLink="/services" class="nav-item px-4 nav-link active">Services</a>
                    <a routerLink="/price" class="nav-item nav-link px-4">Price</a>
                    <a routerLink="/about" class="nav-item nav-link px-4">About Us</a>
                    <a routerLink="/Contact" class="nav-item nav-link px-4">Contact</a>
                    <a routerLink="/signup" class="nav-item nav-link px-4">My Profile</a>
                </div>
                <div class="ml-auto">
                    <a class="btn btn-custom" href="#">Book now</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- nabar ka the end -->
 <!-- Service Start -->
 <div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>What We Do?</p><br>
            <h1>Premium Washing Services</h1>
        </div><br><br>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <img src="../../assets/imgs/car-wash.png" style="width: 45%;"/>
                    <h3>Exterior Washing</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <br>
                    <img src="../../assets/imgs/interior.png" style="width:90%;"/>
                    <h3>Interior Washing</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <img src="../../assets/imgs/vaccumm.png" style="width: 50%;"/>
                    <h3>Vacuum Cleaning</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <img src="../../assets/imgs/seatwash.png" style="width: 40%;">
                    <h3>Seats Washing</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <img src="../../assets/imgs/car-service.png" style="width: 50%;"/>
                    <br>
                    <h3>Window Wiping</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <img src="../../assets/imgs/cleaning.png" style="width:50%;"/><br>
                    <h3>Wet Cleaning</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <img src="../../assets/imgs/oilchange.jpg" style="width:60%">
                    <h3>Oil Changing</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <img src="../../assets/imgs/brake.png" style="width: 50%;"/>
                    <h3>Brake Reparing</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
