.btn.btn-custom {
    padding: 10px 30px 12px 30px;
    text-align: center; 
    font-size: 16px;
    font-weight: 800;
    color: #ffffff;
    background: black;
    border: solid white;
    border-radius: 60px;
    box-shadow: inset 0 0 0 0 #202C45;
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
}

.btn.btn-custom:hover {
    color: black;
    background: black;
    box-shadow: inset 200px 0 0 0 orange;
}
/*
.btn:focus,
.form-control:focus {
    box-shadow: none;
} */

.container-fluid {
    max-width: 1366px;
}
.nav-bar {
    position: relative;
    background: black;
}
.nav-bar .nav-sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    z-index: 11;
}
.nav-bar .navbar {
    padding: 20px 0;
    background: black !important;
    transition: .3s;
}
.nav-bar .nav-sticky .navbar {
    padding: 5px 0;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff;
    padding: 15px;
    font-weight: 800;
    letter-spacing: 1px;
    
}
.navbar-dark .navbar-nav .nav-link:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: yellow;
  }
  .navbar-dark .navbar-nav .nav-link {
    border-bottom: 2px solid transparent;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: 2px solid yellow;
    border-radius: 25%;
    color: yellow;
  } 
  #navbarCollapse .navbar-nav .active{
    border-bottom: 2px solid yellow;
    border-width: 3px;
    border-radius: 25%;
    color: yellow;
}
.service .container .section-header p{
    font-size: 20px;
    color: gray;
    text-decoration: underline;
}
.service .container .section-header h1{
    font-size: 40px;
    color: black;
    font-weight: 800;
}
.service {
    position: relative;
    width: 100%;
    padding: 45px 0 0 0;
}

.service .service-item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

.service .service-item i {
    color: #202C45;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 20px;
}

.service .service-item [class^="flaticon-"]::before {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    background-image: linear-gradient(#E81C2E, #202C45);
    -webkit-text-fill-color: transparent;
    transition: .5s;
}

.service .service-item h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.service .service-item p {
    margin: 0;
}