h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: black;
}

/* a {
    color: black;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: orange;
    outline: none;
    text-decoration: none;
}
*/
.btn.btn-custom {
    padding: 10px 30px 12px 30px;
    text-align: center; 
    font-size: 16px;
    font-weight: 800;
    color: #ffffff;
    background: black;
    border: solid white;
    border-radius: 60px;
    box-shadow: inset 0 0 0 0 #202C45;
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
}

.btn.btn-custom:hover {
    color: black;
    background: black;
    box-shadow: inset 200px 0 0 0 orange;
}
/*
.btn:focus,
.form-control:focus {
    box-shadow: none;
} */

.container-fluid {
    max-width: 1366px;
}

/* [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-size: inherit;
    margin-left: 0;
} */
/* #loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s ease-out, visibility 0s linear .3s;
    -o-transition: opacity .3s ease-out, visibility 0s linear .3s;
    transition: opacity .3s ease-out, visibility 0s linear .3s;
    z-index: 999;
}

#loader.show {
    -webkit-transition: opacity .6s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .6s ease-out, visibility 0s linear 0s;
    transition: opacity .6s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#loader .loader {
    position: relative;
    width: 45px;
    height: 45px;
    border: 5px solid #dddddd;
    border-top: 5px solid #E81C2E;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.back-to-top {
    position: fixed;
    display: none;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: .5s;
    background: #E81C2E;
    border-radius: 44px;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
    padding-top: 10px;
}

.back-to-top:hover {
    background: #202C45;
} */

.top-bar {
    position: relative;
    height: 75px;
    display: flex;
    align-items: center;
    background: white;
    width: 100%;
}

.top-bar .logo {
    text-align: left;
    overflow: hidden;
    text-decoration:none;
}

.top-bar .logo h1 {
    margin: -4px 0 0 0;
    color: orange;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    letter-spacing: 3px;
    font-style: italic;
    
}
.top-bar .container .logo a{
    text-decoration: none;
}
.top-bar .logo h1 span {
    color: black;
   
}

 .top-bar .container .img-fluid {   
     margin-left: -8%;
    max-width: 8%;
    position: absolute;
    z-index: 1;
}

.top-bar .top-bar-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.top-bar .top-bar-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    border-radius: 40px;
}

.top-bar .top-bar-icon i {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
}

.top-bar .top-bar-text {
    padding-left: 15px;
}

.top-bar .top-bar-text h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: 600;
}

.top-bar .top-bar-text p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 991.98px) {
    .top-bar .logo {
        text-align: center;
    }
}
.nav-bar {
    position: relative;
    background: black;
}
.nav-bar .nav-sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    z-index: 11;
}
.nav-bar .navbar {
    padding: 20px 0;
    background: black !important;
    transition: .3s;
}
.nav-bar .nav-sticky .navbar {
    padding: 5px 0;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff;
    padding: 15px;
    font-weight: 800;
    letter-spacing: 1px;
    
}
.navbar-dark .navbar-nav .nav-link:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: yello;
  }
  .navbar-dark .navbar-nav .nav-link {
    border: 3px solid transparent;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    border: 3px solid yellow;
    border-radius: 25%;
    color: yellow;
  } 
  #navbarCollapse .navbar-nav .active{
    border: 3px solid yellow;
    border-radius: 25%;
    color: yellow;
}
  /* .navbar .nav-bar {
      text-s
  }   */
